.hero-services{
    width: 100vw;
    height: calc(40vh);
    position: relative;
    background-image: url('./assets/images/carpenter.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.galleryservices
{
    width: 100vw;
    height: calc(40vh);
    position: relative;
    background-image: url('./assets/images/building.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-construction{
    background-image: url('./assets/images/work.jpg');
    width: 400px;
    height: 400px;
    margin: 10px;
    box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -webkit-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -moz-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-plumbing{
    background-image: url('./assets/images/plumbing.jpg');
    width: 400px;
    height: 400px;
    margin: 10px;
    box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -webkit-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -moz-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-roofing{
    background-image: url('./assets/images/roof.jpg');
    width: 400px;
    height: 400px;
    margin: 10px;
    box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -webkit-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -moz-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-architecture{
    background-image: url('./assets/images/architecture.jpg');
    width: 400px;
    height: 400px;
    margin: 10px;
    box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -webkit-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -moz-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-electric{
    background-image: url('./assets/images/electrician.jpg');
    width: 400px;
    height: 400px;
    margin: 10px;
    box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -webkit-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -moz-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.b-carpenter{
    background-image: url('./assets/images/carpenter.jpg');
    width: 400px;
    height: 400px;
    margin: 10px;
    box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -webkit-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -moz-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.b-tiling{
    background-image: url('./assets/images/tiling.jpg');
    width: 400px;
    height: 400px;
    margin: 10px;
    box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -webkit-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -moz-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.b-painting{
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 10px;
    box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -webkit-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -moz-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    border-radius: 5px;
    
}

.b-maintenance{
    background-image: url('./assets/images/hero.jpg');
    width: 400px;
    height: 400px;
    margin: 10px;
    box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -webkit-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    -moz-box-shadow: -6px 2px 29px -6px rgba(122,135,142,0.5);
    border-radius: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}

